*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite AU NSW", cursive;
}

.cointainer {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(235deg, #009245, #FCEE21);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 35rem;
    background-color: #fff;
    margin: 6.5rem auto 2rem;
    padding: 3rem 2rem 5rem;
    border-radius: 1rem;

}

.todo-app h2 {
    color:#06ff2b ;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.todo-app h2 img {
    width: 2.8rem;
    margin-left: 1rem;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 2rem;
    padding-left: 1.5rem;
    margin-bottom: 2rem;

}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 1rem;
}

button {
    border: none;
    outline: none;
    padding: 1rem 3.2rem;
    background-color: #ff5945;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 3rem;

}

ul li {
    list-style: none;
    font-size: 1.2rem;
    padding: 1rem 0.75rem 1rem 3.5rem;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: url(/image/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 0.9rem;
    left: 0.5rem ;

}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(/image/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    color: #555;
    line-height: 2.5rem;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}
